.logo {
  background: url('freshdesk_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 25px;
}
.modal-footer {
  position: fixed;
  padding: 13px 40px;
  width: 600px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  z-index: 6;
  border-top: 1px solid #dadfe3;
}
a{
  text-decoration:none;
cursor:pointer;
}
.fa-share-square-o{
  color:#448ee1;
  margin-left:5px;
}
